@media (max-width: 600px) {
  body {
    margin: 0;
    padding: 0;
  }

  .container-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 0;
    margin-top: 10px;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    overflow: scroll;
    white-space: nowrap;
  }

  .logos {
    display: none;
  }

  .novela {
    padding: 0 1px;
    font-size: 30px;
    margin-top: 10px;
  }

  .titulo {
    margin-top: -60px;
  }
  .titulo p {
    font-size: 20px;
  }

  .faixa1 {
    display: flex;
    margin: 2px;
  }

  .play p {
    margin-top: 10px;
  }

  .buscar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
  }

  .buscar input {
    display: none;
  }

  .buscar img {
    display: block;
    width: 60px;
    height: 40px;
    background-color: #ffff;
    border: none;
  }

  main {
    display: flex;
    flex-direction: column;
  }

  section {
    padding: 0 10px;
  }

  .cinza {
    display: none;
  }

  .nicolas-img {
    width: 100%;
    height: 100%;
  }

  .news-grid {
    display: flex;
    flex-direction: column;
  }

  .publicidade {
    display: flex;
    margin: 0 13vh;
    margin-top: 25px;
  }

  .paragrafo {
    font-size: 20px;
  }

  .carrossel {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    height: 100%;
    width: 100%;
  }

  .carrossel-img {
    display: flex;
    justify-content: center;
    overflow-x: auto;
    white-space: nowrap;
    gap: 10px;
    align-items: center;
  }

  figure img.img-4 {
    display: none;
  }

  .carrossel-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #000;
    font-size: 10px;
  }

  .galeria-img {
    width: 100%;
  }

  .direita {
    display: none;
  }

  .esquerda {
    display: none;
  }

  .titulo-mania {
    padding: 0 10px;
  }

  .mania {
    font-size: 20px;
  }

  .principal-galeria {
    padding: 0 10px;
  }

  .principal-galeria figcaption {
    margin-top: 0;
    font-size: 10px;
  }

  .diversao {
    display: flex;
    flex-direction: column;
  }

  .logo-ibahia {
    display: none;
  }

  .container-footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    align-items: flex-start;
  }

  .logos-footer {
    margin: 15px 0;
  }

  .list {
    margin-top: 10px;
    width: 100%;
  }

  .title {
    display: block;
    color: black;
    font-family: "Reddit Sans";
  }

  .diversao {
    display: grid;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  .diversao-grid {
    width: calc(50% -10px);
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .diversao-respo {
    display: flex;
    flex-direction: column;
  }

  footer li {
    display: none;
  }

  .tituloF {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 0px;
    width: 90%;
  }

  .tituloF img {
    display: flex;
    width: 28px;
  }

  .titulo1 {
    margin-top: 0px;
  }

  .copy {
    display: flex;
    flex-direction: column;
    padding: 5px 20px;

    p {
      width: 70%;
      margin: 15px 0px;
    }
  }

  .tarja {
    display: flex;
    margin-bottom: 20px;
  }
}
