@media (max-width: 600px) {
  body {
    margin: 0;
    padding: 0;
  }

  /*Estilização do Header*/
  .header-container {
    position: relative;
    z-index: 10;
    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .header-top {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    margin-top: 25px;
  }
  .header-search {
    display: none;
  }

  .logo-ibahia-header {
    display: flex;
  }

  .header-social-icons {
    display: none;
  }

  .header-icons-responsive {
    display: flex;
    gap: 20px;
  }

  form {
    display: none;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    overflow: scroll;
    white-space: nowrap;
  }

  .breadcrumb {
    margin-top: -10px;
  }
  .breadcrumb-item {
    display: flex;
    margin: 2px;
    margin-top: 10px;
  }
  .breadcrumb-item h2 {
    font-size: 22px;
  }

  main {
    display: flex;
    flex-direction: column;
  }

  section {
    padding: 10px;
    gap: 20px;
  }
  .ad-banner-advertising {
    display: none;
  }
  
  .article-header {
    font-size: 20px;
  }
  .article-header p {
    font-size: 18px;
  }
  .article-header h1 {
    font-size: 30px;
  }

  .Hat-top {
    padding: 2px;
    font-size: 30px;
  }

  .play p {
    font-size: 12px;

  }
  .author-info img {
    width: 12%;
    height: 12%;
    margin: 2%;
  }


  .actor-image {
    width: 100%;
    height: 100%;
  }
  .image-caption figcaption {
    font-size: 10px;
  }

  .news-grid {
    display: flex;
    flex-direction: column;
  }

  .ad-banner-square {
    display: flex;
    margin: 0 13vh;
  }

  .paragraph {
    font-size: 17px;
    gap: 10px;
  }

  .carousel {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  .carousel-img {
    display: flex;
    justify-content: center;
    overflow-x: auto;
    white-space: nowrap;
    gap: 10px;
    align-items: center;
  }

  figure img.img-4 {
    display: none;
  }

  .galeria-img {
    width: 100%;
  }

  .carousel-arrow-right {
    display: none;
  }

  .carousel-arrow-left {
    display: none;
  }

  .titulo-mania {
    padding: 10px;
  }

  .mania {
    font-size: 20px;
  }
  .titulo-trama h5 {
    font-size: 17px;
  }
  .aspas {
    margin-top: 30px;
  }
  .aspas h3 {
    font-size: 18px;
  }
  .principal-galeria {
    padding: 10px;
  }

  .principal-galeria figcaption {
    margin-top: 0;
    font-size: 10px;
  }

  .container-autor {
    display: flex;
  }

  .container-autor img {
    width: 70px;
    height: 70px;
  }

  .text-autor h5 {
    font-size: 15px;
  }

  .text-autor span {
    display: none;
  }

  .autor-redes {
    display: flex;
    gap: 5px;
  }
  .autor-redes img {
    width: 30px;
    height: 30px;
  }

  .autor-redes p {
    font-size: 15px;
    color: #636363;
  }
  .diversao {
    display: flex;
    flex-direction: column;
  }

  .logo-ibahia {
    display: none;
  }

  .container-footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 10px;
    align-items: flex-start;
  }

  .logos-footer {
    margin: 15px 0;

    
  }

  .list {
    width: 100%;
  }

  .title {
    display: block;
    color: black;
    font-family: "Reddit Sans";
  }

  .diversao {
    display: grid;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  .diversao-grid {
    width: calc(50% -10px);
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .diversao-respo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  .carrossel-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #000;
    font-size: 10px;
  }
  .diversao img {
    width: 100%;
  }
  .figures img {
    width: 70px;
  }

  footer li {
    display: none;
  }

  .tituloF {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
  }

  .tituloF img {
    display: flex;
    width: 28px;
  }

  .copy {
    display: flex;
    flex-direction: column;
    padding: 5px 20px;

    p {
      width: 70%;
      margin: 15px 0px;
    }
  }

  .tarja {
    display: flex;
    margin-bottom: 20px;
  }
}
