* {
  margin: 0;
  padding: 0;
  font-family: "Reddit Sans";
}


.cinza{
 
  background-color:#EBEBEB;
  display: flex;
  justify-content: center;
  padding: 100px;
  margin: 0 40vh;
}

.cinza p{
  font-size: 10px;
  color: #161616;
}

.novela{
  color:#E31837;
  font-size: 20px;
  font-weight: bold;
  margin: 20px;
  padding: 0 57vh;
}
section{
  margin-top: 60px;
  padding: 0 60vh;
}
.titulo{
  display: flex;
  flex-direction: column;
}
.titulo h1{
  font-size: 40px;
  color: #000;
  font-weight: bold;
}
.titulo p{
  font-size: 20px;
  color: #181818;
  margin-top: 10px;
}
.figurinha{
  display: flex;
  margin-top: 20px;
}
.figurinha p{
  margin: 12px;
  color: #181818;
  font-size: 15px;
}
.figurinha span{
  font-weight: bold;
}
.ouca{
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.play{
  display: flex;
  border: 1px solid #E31837;
  padding: 2px 20px;
  border-radius: 40px;
  gap: 2px;
}
.play p{
  color: #161616;
  font-weight: bold;
  font-size: 15px;
  margin: 10px;
}
.mania{
  margin-top: 30px;
  font-size: 19px;
}
.mania a {
  color: #E31837;
  font-weight: bold;
}
.nicolas{
  margin-top: 20px;
}
.nicolas figcaption{
  font-size: 15px;
  color: #181818;
}

.nicolas p{
  font-size: 19px;
  color: #181818;
  margin-top: 20px;
}
.veja{
  margin-top: 20px;
}

.link{
  margin-top: 20px;
}
.link a{
  color: #181818;
  font-size: 20px;
  
}
.link ul li::before{
  color: #E31837;
}
.publicidade{
  background-color:#EBEBEB ;
  display: flex;
  justify-content: center;
  padding: 100px;
  margin: 0 80vh;
  margin-top: 25px;
}
.publicidade span{
  font-size: 10px;
}