* {
  margin: 0;
  padding: 0;
  font-family: "Reddit Sans";
  box-sizing: border-box;
}
.paragrafo {
  font-size: 19px;
  color: #181818;
  margin-top: 20px;
}

.cinza {
  background-color: #ebebeb;
  display: flex;
  justify-content: center;
  padding: 100px;
  max-width: 900px;
  margin: 0 auto;
}

.cinza p {
  font-size: 10px;
  color: #161616;
}

.novela {
  color: #e31837;
  font-size: 30px;
  font-weight: bold;
  max-width: 700px;
  margin: 0 auto;
  text-align: left;
  width: 100%;
}

section {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 700px;
  gap: 24px;
}

.titulo {
  display: flex;
  flex-direction: column;
}

.titulo h1 {
  font-size: 40px;
  color: #000;
  font-weight: bold;
}

.titulo p {
  font-size: 20px;
  color: #181818;
}

.figurinha {
  display: flex;
}

.figurinha p {
  margin: 12px;
  color: #181818;
  font-size: 15px;
}

.figurinha span {
  font-weight: bold;
}

.ouca {
  display: flex;
  gap: 10px;
}

.play {
  display: flex;
  border: 1px solid #e31837;
  padding: 2px 0;
  border-radius: 40px;
  gap: 2px;
}

.play p {
  color: #161616;
  font-weight: bold;
  font-size: 15px;
  margin: 10px;
}

.mania {
  margin-top: 30px;
  font-size: 19px;
}

.mania a {
  color: #e31837;
  font-weight: bold;
}

.nicolas {
  margin-top: 20px;
}

.nicolas figcaption {
  font-size: 15px;
  color: #181818;
}

.veja {
  margin-top: 20px;
}

.link {
  margin-top: 20px;
}

.link a {
  color: #181818;
  font-size: 20px;
}

.link ul li::marker {
  color: #e31837;
}

.publicidade {
  background-color: #ebebeb;
  display: flex;
  justify-content: center;
  padding: 100px;
  max-width: 500px;
  margin: 0 auto;
}

.publicidade span {
  font-size: 10px;
}

.news-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
}

.news-item {
  width: calc(50% -10px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.news-title {
  display: flex;
  flex-direction: column;
}

.grid-title {
  font-size: 15px;
  font-weight: bold;
  margin: 10px;
  color: #e31837;
}

.news-item span {
  font-size: 15px;
  font-weight: bold;
  margin: 10px;
}

.titulo-mania {
  font-size: 20px;
  font-weight: bold;
  max-width: 700px;
  margin: 0 auto;
  text-align: left;
  width: 100%;
}

.carrossel {
  background-color: #000;
  height: 100%;
  width: 100%;
  border: 2px solid red;
}

.principal-galeria {
  max-width: 700px;
  margin: 0 auto;
}

.principal-galeria figcaption {
  color: #ffff;
  font-size: 10px;
  justify-content: center;
  display: flex;
}

.carrossel-img {
  display: flex;
  justify-content: center;
}

.figures {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.figures img {
  border-radius: 10px;
  width: 100px;
  height: 100px;
}

.carrossel-titulo {
  background-color: #000;
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #ff783e;
  color: #ff783e;
  height: 90px;
  width: 200px;
  justify-content: center;
}

.aspas {
  display: flex;
  margin-top: 15px;
  gap: 20px;
  font-size: 25px;
}

.aspas img {
  margin-top: -50px;
}

.direita,
.esquerda {
  position: relative;
  bottom: 300px;
  cursor: pointer;
}

.direita {
  left: 280px;
}

.esquerda {
  right: 490px;
}

.titulo-trama {
  border-left: 4px solid #e31837;
  border-bottom: 1px solid #e7e7e7;
  padding: 20px;

}

.titulo-trama h5{
  font-size: 25px;
}

.container-autor {
  display: flex;
  gap: 5px;
  margin-top: 20px;
  border: 1px solid #e7e7e7;
  border-radius: 10px;
  padding: 5px;
}

.text-autor {
  margin-top: 10px;
}

.text-autor span {
  color: #e31837;
  font-weight: bold;
  font-size: 12px;
}

.text-autor p {
  font-size: 15px;
}
.autor-redes{
    display: none;
}

.tags {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.diversao {
  display: flex;
  margin-top: 10px;
}

.diversao-grid span {
  color: #e31837;
  margin-top: 5px;
  font-weight: bold;
  font-size: 15px;
}

.diversao-grid p {
  margin-top: 10px;
  color: #161616;
}

.titulo-diversao {
  font-size: 22px;
}
.titulo-diversao h6{
  font-size: 25px;
}

.titulo-diversao span {
  color: #e31837;
}
