* {
  margin: 0;
  padding: 0;
  font-family: "Reddit Sans";
  box-sizing: border-box;
}
.paragraph {
  font-size: 19px;
  color: #181818;
  gap: 16px;
}

.ad-banner-advertising {
  background-color: #ebebeb;
  display: flex;
  justify-content: center;
  padding: 100px;
  max-width: 900px;
  margin: 0 auto;
}

.ad-banner-advertising p {
  font-size: 10px;
  color: #161616;
}

.Hat-top {
  color: #e31837;
  font-size: 18px;
  font-weight: bold;
  max-width: 700px;
  margin: 0 auto;
  text-align: left;
  width: 100%;
  text-transform: uppercase;

}

section {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 700px;
  gap: 20px;
}

.article-header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.article-header h1 {
  font-size: 40px;
  color: #000;
  font-weight: bold;
}

.titulo p {
  font-size: 20px;
  color: #181818;
}

.author-info {
  display: flex;
}

.author-info p {
  margin: 12px;
  color: #181818;
  font-size: 15px;
}

.author-info span {
  font-weight: bold;
}

.actions {
  display: flex;
  gap: 10px;
}

.play-button {
  display: flex;
  border: 1px solid #e31837;
  padding: 5px 21px;
  border-radius: 40px;
  gap: 2px;
  background-color: white;
}

.play-button p {
  color: #161616;
  font-weight: bold;
  font-size: 15px;
  margin: 10px;
}

.article-content {
  font-size: 19px;
}

.article-content a {
  color: #e31837;
  font-weight: bold;
}

.image-caption {
  margin-top: 20px;
}

.image-caption figcaption {
  font-size: 15px;
  color: #181818;
}
.actor-image{
  width: 100%;
  height: 100%;
}
.related-articles {
  font-size: 20px;
}

.related-links {
  margin: 0 auto;
}

.related-links a {
  color: #181818;
  font-size: 20px;
}

.related-links ul li::marker {
  color: #e31837;
}

.ad-banner-square {
  background-color: #ebebeb;
  display: flex;
  justify-content: center;
  padding: 100px;
  max-width: 500px;
  margin: 0 auto;
}

.ad-banner-square span {
  font-size: 10px;
}

.news-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 24px;
  margin-left: auto;
  margin-right: auto;
}

.news-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.news-title {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.grid-title {
  font-size: 15px;
  font-weight: bold;
  color: #e31837;
}

.news-item span {
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  letter-spacing: 0.18px;
}

.news-item img{
  width: 118px;
  height: 100%;
  aspect-ratio: 1/1;
}

.gallery-title {
  font-size: 20px;
  font-weight: bold;
  max-width: 700px;
  margin: 0 auto;
  text-align: left;
  width: 100%;
}

.carousel {
  background-color: #000;
  height: 100%;
  width: 100%;
  border: 2px solid red;
}

.carousel-main {
  max-width: 700px;
  margin: 0 auto;
}

.carousel-main figcaption {
  color: #ffff;
  font-size: 10px;
  justify-content: center;
  display: flex;
}

.carousel-img {
  display: flex;
  justify-content: center;
}

.carousel-figures {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.carousel-figures img {
  border-radius: 10px;
  width: 100px;
  height: 100px;
}

.carousel-view-all {
  background-color: #000;
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #ff783e;
  color: #ff783e;
  height: 90px;
  width: 200px;
  justify-content: center;
}

.quote-icon {
  display: flex;
  gap: 20px;
  font-size: 25px;
}

.quote-icon img {
  margin-top: -50px;
}

.carousel-arrow-right,
.carousel-arrow-left {
  position: relative;
  bottom: 300px;
  cursor: pointer;
}

.carousel-arrow-right {
  left: 270px;
}

.carousel-arrow-left {
  right: 500px;
}

.titulo-trama {
  border-left: 4px solid #e31837;
  border-bottom: 1px solid #e7e7e7;
  padding: 20px;
}

.titulo-trama h5 {
  font-size: 25px;
}

.ib-autor {
  display: flex;
  gap: 5px;
  border: 1px solid #e7e7e7;
  border-radius: 10px;
  padding: 5px;
}

.ib-text-autor {
  margin-top: 10px;
}

.ib-text-autor span {
  color: #e31837;
  font-weight: bold;
  font-size: 12px;
}

.ib-text-autor p {
  font-size: 15px;
}
.ib-autor-redes {
  display: none;
}

.ib-tags {
  display: flex;
  gap: 10px;
}

.entertainment-list {
  display: flex;
}

.entertainment-item span {
  color: #e31837;
  font-weight: bold;
  font-size: 15px;
}

.entertainment-item p {
  color: #161616;
}

.entertainment-title {
  font-size: 22px;
}
.entertainment-title h6 {
  font-size: 25px;
}

.entertainment-title span {
  color: #e31837;
}
