* {
  margin: 0;
  padding: 0;
  font-family: "Reddit Sans";
}
.paragrafo{
  font-size: 19px;
  color: #181818;
  margin-top: 20px;
}

.cinza {
  background-color: #ebebeb;
  display: flex;
  justify-content: center;
  padding: 100px;
  margin: 0 40vh;
}

.cinza p {
  font-size: 10px;
  color: #161616;
}

.novela {
  color: #e31837;
  font-size: 20px;
  font-weight: bold;
  margin: 20px;
  padding: 0 57vh;
}
section {
  margin-top: 60px;
  padding: 0 60vh;
}
.titulo {
  display: flex;
  flex-direction: column;
}
.titulo h1 {
  font-size: 40px;
  color: #000;
  font-weight: bold;
}
.titulo p {
  font-size: 20px;
  color: #181818;
  margin-top: 10px;
}
.figurinha {
  display: flex;
  margin-top: 20px;
}
.figurinha p {
  margin: 12px;
  color: #181818;
  font-size: 15px;
}
.figurinha span {
  font-weight: bold;
}
.ouca {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.play {
  display: flex;
  border: 1px solid #e31837;
  padding: 2px 20px;
  border-radius: 40px;
  gap: 2px;
}
.play p {
  color: #161616;
  font-weight: bold;
  font-size: 15px;
  margin: 10px;
}
.mania {
  margin-top: 30px;
  font-size: 19px;
}
.mania a {
  color: #e31837;
  font-weight: bold;
}
.nicolas {
  margin-top: 20px;
}
.nicolas figcaption {
  font-size: 15px;
  color: #181818;
}

.nicolas p {
  font-size: 19px;
  color: #181818;
  margin-top: 20px;
}
.veja {
  margin-top: 20px;
}

.link {
  margin-top: 20px;
}
.link a {
  color: #181818;
  font-size: 20px;
}
.link ul li::before {
  color: #e31837;
}
.publicidade {
  background-color: #ebebeb;
  display: flex;
  justify-content: center;
  padding: 100px;
  margin: 0 80vh;
  margin-top: 25px;
}
.publicidade span {
  font-size: 10px;
}
.news-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.news-item {
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  text-align: left;
  display: flex;
}
.title {
  font-size: 15px;
  font-weight: bold;
  margin: 10px;
  color: #e31837;
}

.news-item span {
  font-size: 15px;
  font-weight: normal;
  margin: 10px;
}
.titulo-mania{
  margin-top: 60px;
  padding: 0 60vh;
}
.carrossel{
  background-color: #000;
  height: 87vh;
  width: 100%;
}
.principal-galeria{
  margin-top: 10px;
  padding: 0 60vh;
}
.principal-galeria figcaption{
  color: #ffff;
  margin-top: -20px;
  font-size: 10px;
  justify-content: center;
  display: flex;
}
.carrossel-img{
  display: flex;
  justify-content: center;
  
}
.figures{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 19px;
}
.figures img{
  border-radius: 10px;
}
.carrossel-titulo{
  background-color: #000;
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #FF783E;
  color: #FF783E;
  height: 90px;
  width: 200px;
  justify-content: center;
  margin-top: 19px;


}
.aspas{
  display: flex;
  margin-top: 15px;
  gap: 20px;
}
.aspas img{
  margin-top: -50px;
}
.direita,
.esquerda {
  position: relative;
  bottom: 300px;
  cursor: pointer;
}
.direita {
  left: 280px;
}
.esquerda {
  right: 490px;
}

.titulo-trama{
  margin-top: 15px;
  border-left: 4px solid #e31837;
  border-bottom: 1px solid #E7E7E7;
  padding: 20px;
}

.container-autor{
  display: flex;
  gap: 5px;
  margin-top: 20px;
  border: 1px solid #e7e7e7;
  border-radius: 10px;
  padding: 5px;
}
.text-autor{
  margin-top: 10px;
}
.text-autor span{
  color: #e31837;
  font-weight: bold;
  margin-top: 10px;
  font-size: 12px;
}
.text-autor p{
  font-size: 15px;
}
.tags{
  display: flex;
  gap: 10px;
  margin-top: 15px;
}
.diversao{
  display: flex;
}
.diversao-grid span{
  color: #e31837;
  margin-top: 5px;
  font-weight: bold;
  font-size: 15px;
}
.diversao-grid p{
  margin-top: 10px;
  color: #161616;
}